.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.flex-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.width-100 {
  width: 100% !important;
}

.banner {
  height: 100vh;
}
/* @media (max-width: 991px) {
  .banner {
    height: 25vh;
  }
} */

.responsive-height {
  height: 650px;
}
@media (max-width: 767px) {
  .responsive-height {
    height: 440px;
  }
}

.more-info {
  position: absolute;
  z-index: 15;
  margin-top: 10px;
  visibility: hidden;
}

.more-info.show {
  visibility: visible;
}

.more-info::before {
  top: -15px;
  left: 47%;
  position: absolute;
  content: "";
  border: 8px solid rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  pointer-events: none;
}

.more-info-frame {
  width: 90%;
  margin: 0 auto;
  padding: 12px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 5px 0 rgba(154, 160, 186, 0.1),
    0 10px 30px 0 rgba(166, 173, 200, 0.44);
}

.more {
  width: 20px;
  margin: 15px auto 0px;
  display: flex;
}

.careers-content .highlight {
  font-weight: bold;
}

.careers-content .text {
  font-size: 18px;
  font-weight: 400;
  display: contents;
}

.careers-content .keyword {
  margin: 0 80px;
}

.careers-content .apply-frame {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.apply-btn {
  height: 40px;
  width: 30%;
  color: #fff !important;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  outline: none;
  text-align: center;
  line-height: 26px;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  padding: 6px 12px;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  border: none;
  border-radius: 3px;
  margin: 0;
  background-color: #727cf5;
  background: linear-gradient(135deg, #bb76db, #727cf5 60%);
  box-shadow: 0 2px 6px rgba(114, 124, 245, 0.5);
}
.apply-btn:hover {
  color: #fff;
  background-position: right center;
}

.service-content .title {
}

.service-content .text {
  margin-top: 15px;
}

.service-content .service-img {
  height: 160px;
}

.service-content .miningpullhub {
}

@media (max-width: 991px) {
  .service-content .miningpullhub {
    flex-direction: column-reverse;
  }
}

.heading {
  display: block;
  color: #475164;
  text-align: center;
  font-size: 27px;
  margin: 0px 0px 20px 0px;
}

.heading-line {
  display: block;
  width: 30%;
  height: 1px;
  position: relative;
  background-color: #cbcdd3;
  margin: 0px auto;
  margin-bottom: 50px;
}

.heading-line::after {
  content: "";
  position: absolute;
  bottom: 0px;
  height: 1px;
  width: 20%;
  left: 40%;
  right: 0;
  background-color: #8e69ff;
}

.logo {
  width: 96px;
}

.history .v-line {
  height: 100%;
  position: absolute;
  width: 2px;
  background-color: rgb(141, 113, 255, 0.7);
  left: 77px;
  border-radius: 3px;
  margin-top: 14px;
}

.history .list {
  display: table;
  margin: 80px auto 22px auto;
  position: relative;
  text-align: left;
  left: 44px;
}

@media (max-width: 575px) {
  .history .list {
    left: 0px;
  }
}

.history .date {
  width: 83px;
  margin-right: 19px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: #8d71ff;
}

.history .sub-date {
  width: 83px;
  margin-left: 16px;
  margin-right: 4px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: #8d71ff;
}

.history .date::after {
  content: " ";
  background: #8d71ff;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  display: inline-block;
  transform: translate3d(0, -2px, 0);
  margin-top: 3px;
}

.history .item {
  font-size: 18px;
  font-weight: 600;
  margin: 32px auto;
  line-height: 34px;
}

.history .sub-item {
  font-size: 12px;
  font-weight: 400;
  margin: 0px auto;
  line-height: 16px;
}

.history .event {
  display: inline-block;
  vertical-align: top;
}

.history .sub-event {
  display: inline-block;
  vertical-align: top;
}

.history .img-frame {
  justify-content: center;
}

.history .img1 {
  width: 100px;
  margin: 0 20px;
}

.history .img2 {
  width: 134px;
  margin: 0 20px;
}

.gallery-content {
  width: 100%;
}

.gallery-content .grid {
  display: grid;
}

.gallery-content .item1 {
  grid-column: 1;
  grid-row: 1;
  margin: 0;
}

.gallery-content .item2 {
  grid-column: 2;
  grid-row: 1 / span 3;
}

.gallery-content .item3 {
  grid-column: 1;
  grid-row: 2;
  margin: auto 0;
}

.gallery-content .item4 {
  grid-column: 1;
  grid-row: 3;
  margin: auto 0 0 0;
}

.map-frame {
  text-align: center;
}

.footer .information {
  font-size: 14px;
}

/* ---- grid ---- */

.grid {
}

/* clearfix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 50%;
  float: left;
  border-color: hsla(0, 0%, 0%, 0.5);
}

.grid-item--width2 {
  width: 320px;
}
.grid-item--width3 {
  width: 480px;
}
.grid-item--width4 {
  width: 640px;
}

.grid-item--height2 {
  height: 200px;
}
.grid-item--height3 {
  height: 260px;
}
.grid-item--height4 {
  height: 360px;
}
